.about-header {
    text-align: center;
    background-color: rgba(0, 11, 38, 1);
    color: #CEE6F2;
    font-weight: lighter;
    padding-top: 5px;
    padding-bottom: 5px;
}

.about-left {
    background-color: #CEE6F2;
    padding: 80px 30px 30px 30px;
    text-align: center;
    height: 500px;
    font-size: 1.2em;
}

.about-image {
    width: 100%;
}

.map {
    width: 100%;
}

.contact-input {
    border: 1px rgba(36, 36, 36, 1) solid;
    border-radius: 0px;
    margin-bottom: 3px;
}

.contact-button {
    border-radius: 0px;
}
